@font-face {
    font-family: Glober;
    src: url('../fonts/Glober-Regular.otf') format("opentype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Glober;
    src: url('../fonts/Glober-Bold.otf') format("opentype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Glober;
    src: url('../fonts/Glober-SemiBold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500&display=swap');